body {
  font-family: "Roboto", sans-serif;
  color: rgb(8%, 8%, 8%);
  background: darken(white, 8%);
  margin: 0;
  font-size: 16px;
}

nav {
  margin: 0;
  padding: 10px;
  background-color: rgba(255,150,0,0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

nav #link:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 5px;
}

nav #logo {
  font-family: "Bangers", sans-serif;
  font-size: 1.5em;
}

#content {
  margin: 30px;
}

h2 {
  font-size: 0.9em;
}

#editPost input, #editPost textarea{
  display: block;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 1.0em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: block;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 1.1em;
}

li a {
  color: black;
}

#tags {
  float: right;
}
